{
  "extends": "stylelint-config-standard-scss",
  "plugins": ["stylelint-scss"],
  "rules": {
    "at-rule-no-unknown": null,
    "no-empty-source": null,
    "scss/at-rule-no-unknown": true,
    "scss/at-extend-no-missing-placeholder": true
  }
}
